* {
  margin: 0;
}
main {
  position: relative;
  height: 90vh;
  background-color: #60555e;
  display: block;
  background-size: cover;
}
header {
  position: relative;
  height: 10vh;
  background-color: #000;
  border-bottom: 1px solid rgb(42, 37, 46);
}

nav {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 5vh;
  width: 100%;
}
.log-out {
  position: absolute;
  background-color: #e7bdbd;
  right: 3%;
  transform: translateX(-100%);
  font-size: large;
  border-radius: 5px;
  padding: 2px;
  text-decoration: none;
  color: black;
}
.logo {
  position: absolute;
  left: 0;
  background-color: #fff;
  transform: translateY(-50%);
}

.account-info {
  position: absolute;
  left: 5%;
  width: 30%;
  background-color: rgb(195, 195, 212);
  height: 100%;
}
.info {
  position: absolute;
  left: 40%;
  width: 55%;
  height: 100%;
}
#profil-foto img {
  position: absolute;
  top: 10%;
  height: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: aqua;
  border-radius: 50%;
}
#devices-b {
  position: absolute;
  top: 55%;
  width: 72%;
  height: 15%;
  left: 14%;
  background-color: #f0ece2;
}
#consumption-b {
  position: absolute;
  top: 75%;
  width: 72%;
  height: 15%;
  left: 14%;
  background-color: #f0ece2;
}
.alarm {
  position: absolute;
  width: 40%;
  height: 90%;
  top: 5%;
  bottom: 10%;
}
.alarm img {
  position: absolute;
  width: 80%;
  top: 15%;
  left: 10%;
  border-radius: 5px;
}
#button1 {
  position: absolute;
  width: 80%;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  height: 10%;
  border-radius: 5px;
  background-color: rgb(223, 167, 1);
}
#button1:hover {
  background-color: rgb(138, 22, 22);
  transition-delay: 0.2s;
  color: white;
}
.door {
  position: absolute;
  width: 60%;
  height: 100%;
  right: 0;
  bottom: 10%;
}
.door button {
  position: absolute;
  bottom: 20%;
  left: 30%;
  height: 5%;
  width: 50%;
  background-color: rgb(223, 167, 1);
}
#button2:hover {
  background-color: rgb(138, 22, 22);
  transition-delay: 0.2s;
  color: white;
}
.door p {
  position: absolute;
  bottom: 25%;
  height: 5%;
  width: 100%;
  font-size: x-large;
  text-align: center;
  left: 5%;
}
.door img {
  position: inherit;
  width: 80%;
  top: 30%;
  left: 15%;
  border-radius: 20%;
}

/* We made changes using 
'@media' to prevent layout issues on the page
 at specific pixel intervals.

 Additionally, this also helped us 
 achieve a more seamless mobile view.
 */
@media (max-width: 880px) {
  section.account-info {
    position: absolute;
    height: 40%;
    left: -0%;
    background-color: rgb(195, 195, 212);
    width: 100%;
  }
  section.info {
    position: absolute;
    left: 5%;
    width: 90%;
  }
  section.outer-info {
    position: absolute;
    left: 0%;
    width: 100%;
    top: 40%;
    height: 100%;
    background-color: #60555e;
  }
}
@media (max-width: 660px) {
  .alarm {
    width: 100%;
    height: 360px;
  }
  .alarm img {
    width: 30%;
    left: 35%;
  }
  .door {
    width: 100%;
    height: 360px;
  }
  #button1 {
    position: inherit;
    width: 60%;
    top: 70%;
    left: 50%;
    border-radius: 20%;
  }
  .door img {
    position: inherit;
    width: 40%;
    top: 10%;
    left: 28%;
    border-radius: 20%;
  }
  .door button {
    position: inherit;
    width: 60%;
    height: 11%;
    top: 55%;
    left: 21%;
    border-radius: 20%;
  }
  .door p#mode {
    width: 40%;
    top: 67%;
    left: 32%;
  }
}
