* {
  margin: 0;
}
main {
  position: relative;
  height: 90vh;
  background-color: #60555e;
  display: block;
  background-size: cover;
}
header {
  position: relative;
  height: 10vh;
  background-color: #000;
  border-bottom: 1px solid rgb(42, 37, 46);
}

nav {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 5vh;
  width: 100%;
}
a.sign-up {
  position: absolute;
  background-color: #e7bdbd;
  right: 3%;
  transform: translateX(-100%);
  font-size: large;
  border-radius: 5px;
}
.logo {
  position: absolute;
  left: 0;
  background-color: #fff;
  transform: translateY(-50%);
}

.account-info {
  position: absolute;
  left: 5%;
  width: 30%;
  background-color: rgb(195, 195, 212);
  height: 100%;
}
.info {
  position: absolute;
  left: 40%;
  width: 55%;
  height: 70%;
  bottom: 15%;
  border: 1px solid black;
}
#profil-foto img {
  position: absolute;
  top: 10%;
  height: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: aqua;
  border-radius: 50%;
}
#devices-b {
  position: absolute;
  top: 55%;
  width: 72%;
  background-color: #f0ece2;

  height: 15%;
  left: 14%;
}
#consumption-b {
  position: absolute;
  top: 75%;
  background-color: #f0ece2;

  width: 72%;
  height: 15%;
  left: 14%;
}
.info #img1 {
  position: absolute;
  width: 160px;
  top: 28%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.info #img2 {
  position: absolute;
  width: 230px;
  top: 73%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.info div {
  position: absolute;
  width: 45%;
  height: 15%;
  top: 15%;
  text-align: center;
  right: 5%;
  font-size: xx-large;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(132, 132, 176);
}
div p {
  padding: 20px;
}
#device-i-1 {
  position: absolute;
  top: 22%;
}
#device-i-2 {
  position: absolute;
  top: 58%;
}
/* We made changes using '@media' to prevent layout issues on the page at specific pixel intervals. */

/* We made changes using '@media' to prevent layout issues on the page at specific pixel intervals. */

@media (max-width: 1325px) {
  .info div {
    font-size: x-large;
  }
}

@media (max-width: 1015px) {
  .info div {
    font-size: large;
  }
  .info p {
    transform: translateY(5px);
  }
}
@media (max-width: 880px) {
  section.account-info {
    position: absolute;
    height: 40%;
    left: -0%;
    background-color: rgb(195, 195, 212);
    width: 100%;
  }

  section.info {
    position: absolute;
    left: 5%;
    width: 90%;
  }
  section.outer-info {
    position: absolute;
    left: 0%;
    width: 100%;
    top: 40%;
    height: 100%;
    background-color: #60555e;
  }
  .info div {
    height: 10%;
    right: 2%;
    top: 70%;
    width: 50%;
  }
  #device-i-1 {
    position: absolute;
    top: 28%;
  }
  #device-i-2 {
    position: absolute;
    top: 73%;
  }
  .info #img2 {
    width: 200px;
  }
}
@media (max-width: 520px) {
  .info #img1 {
    width: 140px;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .info #img2 {
    width: 200px;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #device-i-1 {
    width: 200px;
    top: 38%;
    left: 50%;
    transform: translateX(-50%);
  }
  #device-i-1 p {
    transform: translateY(-20%);
  }
  #device-i-2 {
    width: 200px;
    top: 85%;
    left: 50%;
    transform: translateX(-50%);
  }
  #device-i-2 p {
    transform: translateY(-20%);
  }
}
