* {
  margin: 0;
}
main {
  position: relative;
  height: 90vh;
  background-color: #60555e;
  display: block;
  background-size: cover;
}
header {
  position: relative;
  height: 10vh;
  background-color: #000;
  border-bottom: 1px solid rgb(42, 37, 46);
}

nav {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 5vh;
  width: 100%;
}
a.sign-up {
  position: absolute;
  background-color: #e7bdbd;
  right: 3%;
  transform: translateX(-100%);
  font-size: large;
  border-radius: 5px;
}
.logo {
  position: absolute;
  left: 0;
  background-color: #fff;
  transform: translateY(-50%);
}

.account-info {
  position: absolute;
  left: 5%;
  width: 30%;
  background-color: rgb(195, 195, 212);
  height: 100%;
}
.info {
  position: absolute;
  left: 40%;
  width: 55%;
  height: 100%;
  bottom: 0;
}
.info h1 {
  position: absolute;
  height: 10%;
  top: 15%;
  left: 23%;
  font-size: 200%;
  border: bottom 1px solis #000;
}
#profil-foto img {
  position: absolute;
  top: 10%;
  height: 30%;
  left: 50%;
  transform: translateX(-50%);
  background-color: aqua;
  border-radius: 50%;
}
#devices-b {
  position: absolute;
  top: 55%;
  width: 72%;
  background-color: #f0ece2;

  height: 15%;
  left: 14%;
}
#consumption-b {
  position: absolute;
  top: 75%;
  background-color: #f0ece2;

  width: 72%;
  height: 15%;
  left: 14%;
}
.links {
  position: absolute;
  width: 50%;
  height: 90%;
  bottom: -10%;
  left: 10%;
  font-size: x-large;
}
.links #a1 {
  position: inherit;
  top: 15%;
  height: 10%;
}
.links #a2 {
  position: inherit;
  top: 25%;
  height: 10%;
}
.links #a3 {
  position: inherit;
  top: 35%;
  height: 10%;
}
.links #a4 {
  position: inherit;
  top: 45%;
  height: 10%;
}
.links #a5 {
  position: inherit;
  top: 55%;
  height: 10%;
}
.links #a6 {
  position: inherit;
  top: 65%;
  height: 10%;
}
.infos {
  position: absolute;
  width: 50%;
  height: 90%;
  right: 0;
  bottom: -10%;
  left: 60%;
}
.infos p {
  position: absolute;
  height: 10%;
  font-size: x-large;
}
.infos #p1 {
  top: 15%;
}
.infos #p2 {
  top: 25%;
}
.infos #p3 {
  top: 35%;
}
.infos #p4 {
  top: 45%;
}
.infos #p5 {
  top: 55%;
}
.info #p6 {
  top: 65%;
}

.borderr {
  position: absolute;
  height: 80%;
  width: 80%;
  border: 2px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: antiquewhite;
}
/* We made changes using '@media' to prevent layout issues on the page at specific pixel intervals. */

/* We made changes using '@media' to prevent layout issues on the page at specific pixel intervals. */

@media (max-width: 1450px) and (min-width: 1000px) {
  .info h1 {
    position: absolute;
    height: 10%;
    top: 15%;
    border: bottom 1px solis #000;
    text-align: center;
    width: 100%;
    margin-left: -22%;
  }
  .link {
    position: absolute;
    font-size: large;
  }
  #p1 {
    position: absolute;
    font-size: large;
  }
  #p2 {
    position: absolute;
    font-size: large;
  }
  #p3 {
    position: absolute;
    font-size: large;
  }
  #p4 {
    position: absolute;
    font-size: large;
  }
  #p5 {
    position: absolute;
    font-size: large;
  }
  #p6 {
    font-size: large;
  }
}
@media (max-width: 1000px) {
  .link {
    position: absolute;
    width: 200%;
    left: -20%;
    text-align: center;
    font-size: large;
  }
  div.links {
    z-index: 1;
  }
  #p1 {
    position: absolute;
    font-size: large;
    margin-top: 12%;
    margin-left: -45%;
  }
  #p2 {
    position: absolute;
    font-size: large;
    margin-top: 12%;
    margin-left: -45%;
  }
  #p3 {
    position: absolute;
    font-size: large;
    margin-top: 12%;
    margin-left: -45%;
  }
  #p4 {
    position: absolute;
    font-size: large;
    margin-top: 12%;
    margin-left: -45%;
  }
  #p5 {
    position: absolute;
    font-size: large;
    margin-top: 12%;
    margin-left: -45%;
  }
  #p6 {
    position: absolute;
    font-size: large;
    margin-top: 12%;
    margin-left: -45%;
  }
}
@media (max-width: 650px) {
  section.account-info {
    position: absolute;
    height: 30vh;
    left: -0%;
    background-color: rgb(195, 195, 212);
    width: 100%;
  }

  section.info {
    position: absolute;
    left: 0%;
    width: 100%;
    height: 60vh;
    bottom: 0;
  }
  section.info h1 {
    position: absolute;
    height: 10%;
    top: 15%;
    left: 13%;
    width: 100%;
    font-size: 120%;
    border: bottom 1px solis #000;
  }
  #p1 {
    position: absolute;
    font-size: medium;
    left: -10%;
  }
  #p2 {
    position: absolute;
    font-size: medium;
    left: -10%;
  }
  #p3 {
    position: absolute;
    font-size: medium;
    left: -10%;
  }
  #p4 {
    position: absolute;
    font-size: medium;
    left: -10%;
  }
  #p5 {
    position: absolute;
    font-size: medium;
    left: -10%;
  }
  #p6 {
    font-size: medium;
    left: -10%;
  }
  .links {
    font-size: small;
  }
}
