/* CSS codes for producer.html file */

body {
  margin: 0;
  background-color: rgb(255, 252, 248);
}

/* header */

header#header.producer {
  border-bottom: 1px solid rgba(89, 237, 200, 0.4);
  width: 100%;
  left: 0%;
}
li {
  display: inline;
  list-style: none;
}
header#header.producer a {
  text-decoration: none;
  font-size: large;
  color: black;
  padding: 8px;
  padding-left: 20px;
  padding-right: 20px;
}
header#header.producer a#logo {
  padding-left: 0;
  font-size: xx-large;
}
header#header.producer a#signOut {
  position: absolute;
  right: 30px;
  border: 1px solid rgba(89, 237, 200, 0.907);
  background-color: rgba(89, 237, 200, 0.907);
  border-radius: 20px;
  top: 15px;
}
header#header.producer a#home-p {
  position: absolute;
  right: 170px;
  border: 1px solid rgba(0, 0, 0, 0.907);
  background-color: rgba(89, 237, 200, 0.907);
  border-radius: 20px;
  top: 15px;
}

/* menu */

div#menu {
  position: fixed;
  width: 20%;
  left: -20px;
  top: 30%;
  margin-top: 10px;
  text-align: center;
}
div.list {
  display: inline-block;
  width: 170px;
  text-align: center;
  border: 1px solid rgba(89, 237, 200, 0.907);
  background-color: rgba(89, 237, 200, 0.907);
  border-radius: 20px;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
div#menu li {
  margin: 0 10px;
}
div#consumption.list {
  border: 1px solid rgba(0, 0, 0, 0.907);
  background-color: rgba(155, 238, 241, 0.907);
}
div#menu a {
  font-size: x-large;
  text-decoration: none;
  padding: 5px;
  color: #000;
}
@media (max-width: 605px) and (min-width: 434px) {
  div#menu {
    position: absolute;
    width: 100%;
    top: 180px;
    margin-top: 10px;
    text-align: center;
  }
}

/* content */

div.content {
  position: absolute;
  width: 70%;
  right: 70px;
  top: 140px;
}

@media (max-width: 1407px) {
  div#content {
    position: absolute;
    top: 250px;
  }
}

@media (max-width: 1020px) {
  div.content {
    width: 50%;
  }
}

@media (max-width: 606px) {
  /* for air conditioner content */
  div#airconditioner.content {
    width: 70%;
    top: 480px;
  }
  /* for alarm system content */
  div#alarm.content {
    width: 70%;
    top: 480px;
  }
  /* for blinds content */
  div#blinds.content {
    width: 70%;
    top: 480px;
  }
  #blind-p {
    font-size: 35px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(143, 211, 244, 0.5);
  }
  /* for oven content */
  div#oven.content {
    width: 70%;
    top: 480px;
  }
  /* for thermostat content */
  div#thermostat.content {
    width: 70%;
    top: 480px;
  }
  /* for vacuum cleaner content */
  div#vacuum.content {
    width: 70%;
    top: 480px;
  }

  /* for consumption info content */
  div#consumption-p.content {
    width: 70%;
    top: 480px;
  }

  /* for home content */
  div#home.content {
    width: 70%;
    top: 480px;
  }
}

@media (max-width: 434px) {
  div#menu {
    position: absolute;
    width: 100%;
    top: 100px;
    margin-top: 10px;
    text-align: center;
  }
}
