*{
    margin: 0;
}
main{
    position: relative;
    height: 90vh;
    background-color: #60555e;
    display: block;
    background-size: cover ;
}
header{
    position: relative;
    height: 10vh;
    background-color: #000;
    border-bottom: 1px solid rgb(42, 37, 46);
}

nav {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5vh;
    width: 100%;
  }
  .log-out {
    position: absolute;
    background-color: #e7bdbd;
    right: 3%;
    transform: translateX(-100%);
    font-size: large;
    border-radius: 5px;
    padding: 2px;
    text-decoration: none;
    color: black;
  }
  .logo {
    position: absolute;
    left: 0;
    background-color: #fff;
    transform: translateY(-50%);
  }

.account-info{
    position: absolute;
    left: 5%;
    width: 30%;
    background-color: rgb(195, 195, 212);
    height: 100%;
}
.info{
    position: absolute;
    left: 40%;
    width: 55%;
    height: 100%;
}
#profil-foto img{
    position: absolute;
    top: 10%;
    height: 30%;
    left: 50%;
    transform: translateX(-50%);
    background-color: aqua;
    border-radius: 50%;
}
#devices-b{
    position: absolute;
    top:55%;
    width: 72%;
    height: 15%;
    left:14%;
    background-color: #f0ece2;
}
#consumption-b {
    position: absolute;
    top:75%;
    width: 72%;
    height: 15%;
    left:14%;
    background-color: #f0ece2;
}

.col1 {
    position: absolute;
    width: 35%;
    height:100%;
    left: 0;
    background-color: #663355;
  
}

.col2 {
    position: absolute;
    width: 65%;
    height: 100%;
    right:0;
    
}

.c1-row1{
    position: absolute;
    height:50%;
    width: 100%;
    
}
.c1-row1 img {
    position: absolute;
    width: 90%; 
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 200px;
}

.c1-row2 button {
    position: absolute;
    width: 90%;
    height: 30%; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
    font-size: 150%;
    transition: background-color 1s;
    background-color: #BBAD93;
}

.c1-row2 {
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
}

.c2-row1 {
    position: absolute;
    background-color: #BBAD93;
    width: 100%;
    height: 30%;
    top: 12%;
    left: 7%;
    border-radius: 5%;
}
.c2-row1 p {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    font-size: 200%;
    font-weight: bold;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style: double ;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 20%;
    padding-right: 20%;
}

.c2-row2 {
    position: absolute;
    background-color:#BBAD93;
    width: 100%;
    height: 30%;
    bottom: 15%;
    left: 7%;
    border-radius: 5%;
}

.c2-row2 select {
    position: absolute;
    height: 30%;
    width: 70%;
    font-size: 150%;
    border-radius: 10px;
    top: 50%;
    left: 52%;
    transform: translate(-50%,-50%);
    background-color: #84436e;

}
#onoffbutton.active {
    background-color: green;
}
/* We made changes using 
'@media' to prevent layout issues on the page
 at specific pixel intervals.

 Additionally, this also helped us 
 achieve a more seamless mobile view.
 */
@media (max-width: 700px) {
    section.account-info {
      position: absolute;
      height: 40%;
      left: -0%;
      background-color: rgb(195, 195, 212);
      width: 100%;
    }
  
    section.info {
      position: absolute;
      left: 5%;
      width: 90%;
    }
    section.outer-info {
      position: absolute;
      left: 0%;
      width: 100%;
      top: 40%;
      height: 100%;
      background-color: #60555e;
    }
}